 {% load static %}
 <div class="col-sm-6 col-md-6 col-xs-8">
                <div style="float:right;padding-top:8px;">
                    <a href="https://www.facebook.com/viodyne" target="_blank"><img src=".{%static 'images/facebook.png'%}" style="margin-left:10px;"></a>
                    <a href="https://plus.google.com/+Viodyne" target="_blank"><img src="{%static 'images/g-plus.png'%}" style="margin-left:10px;"></a>
                    <a href="https://www.linkedin.com/company/viodyne" target="_blank"><img src="{%static 'images/linked-in.png'%}" style="margin-left:10px;"></a>
                    <a href="https://www.pinterest.com/viodyne/" target="_blank"><img src="{%static 'images/pinterest.png'%}" style="margin-left:10px;"></a>
                    <a href="https://www.twitter.com/Viodyne" target="_blank"><img src="{%static 'images/twitter.png'%}" style="margin-left:10px;"></a>
                    <a href="https://www.youtube.com/c/Viodyne" target="_blank"><img src="{%static 'images/youtube.png'%}" style="margin-left:10px;"></a>
                </div>