{%load static %}

<nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="ulnav"><li><a href="http://www.viodyne.com/HomePage/Home">Home</a></li>


                	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="http://www.viodyne.com/HomePage/Contact_form">About Us<span class="caret"></span></a> <ul class="dropdown-menu"><li> <div class="row SubMenu"><div class="SubMenu_Labels col-lg-8 col-xs-8 col-sm-8 col-md-8"><div class="row"> <a href="/article/1">Company Overview</a> </div><div class="row"><span>Viodyne is a global provider of medical  
     ...</span></div></div><div class="SubMenu_Images col-lg-4 col-xs-4 col-sm-4 col-md-4">  

     	<div class="box effect7" style="background-size:cover;  background-image:url(&#39;../../ExternalPlugin/fileman/Uploads/Viodyne Images/Company Overview.jpg&#39;);"></div></div></div></li>


     	<li> <div class="row SubMenu"><div class="SubMenu_Labels col-lg-8 col-xs-8 col-sm-8 col-md-8"><div class="row"> <a href="/article/1">Quality Management System</a> </div><div class="row"><span>Viodyne’s Quality Management System's direction...</span></div></div><div class="SubMenu_Images col-lg-4 col-xs-4 col-sm-4 col-md-4">  <div class="box effect7" style="background-size:cover;  background-image:url(&#39;../../ExternalPlugin/fileman/Uploads/Viodyne Images/iso_thumb.jpg&#39;);background-position: 94px;"></div></div></div></li><li> <div class="row SubMenu"><div class="SubMenu_Labels col-lg-8 col-xs-8 col-sm-8 col-md-8"><div class="row">

     	 <a href="/article/1">Our Mission</a> </div><div class="row"><span>Viodyne’s mission is to provide cutting-edge"...</span></div></div><div class="SubMenu_Images col-lg-4 col-xs-4 col-sm-4 col-md-4">  <div class="box effect7" style="background-size:cover;  background-image:url(&#39;../../ExternalPlugin/fileman/Uploads/Viodyne Images/Our Mission.jpg&#39;);"></div></div></div></li>


     	 <li> <div class="row SubMenu"><div class="SubMenu_Labels col-lg-8 col-xs-8 col-sm-8 col-md-8">

     	 	<div class="row">


     	  <a href="/article/1">Our Vision</a> </div><div class="row"><span>To extend the quality of life and  
        
  ...</span></div></div><div class="SubMenu_Images col-lg-4 col-xs-4 col-sm-4 col-md-4">  <div class="box effect7" style="background-size:cover;  background-image:url(&#39;../../ExternalPlugin/fileman/Uploads/Viodyne Images/Our Vision.JPG&#39;);"></div></div></div></li>






 <li> <div class="row SubMenu"><div class="SubMenu_Labels col-lg-8 col-xs-8 col-sm-8 col-md-8">

     	 	<div class="row">


     	  <a href="/article/1/#Testimonials">Testimonials</a> </div><div class="row"><span>To extend the quality of life and  
        
  ...</span></div></div><div class="SubMenu_Images col-lg-4 col-xs-4 col-sm-4 col-md-4">  <div class="box effect7" style="background-size:cover;  background-image:url(&#39;../../ExternalPlugin/fileman/Uploads/Viodyne Images/Our Vision.JPG&#39;);"></div></div></div></li>














</ul></li><li><a href="/products">Products</a></li>


  <li><a href="http://www.viodyne.com/HomePage/JoinOurTeam">Knowledge Library</a></li>
  <li><a href="http://www.viodyne.com/HomePage/JoinOurTeam">Join Our Network</a></li>

  <li><a href="http://www.viodyne.com/HomePage/Contact_form">Contact Us</a></li></ul>


                <ul class="nav navbar-nav" id="mobile_ulnav"><li><a href="http://www.viodyne.com/HomePage/Home">Home</a></li><li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="http://www.viodyne.com/HomePage/Contact_form">About Us<span class="caret"></span></a> <ul class="dropdown-menu"><li>  <a href="http://www.viodyne.com/HomePage/View_Article?Mod_ID=5">Company Overview</a> </li><li>  <a href="http://www.viodyne.com/HomePage/View_Article?Mod_ID=6">Quality Management System</a> </li><li>  <a href="http://www.viodyne.com/HomePage/View_Article?Mod_ID=7">Our Mission</a> </li><li>  <a href="http://www.viodyne.com/HomePage/View_Article?Mod_ID=8">Our Vision</a> </li></ul></li><li><a href="http://www.viodyne.com/Homepage/Home?category=0000">Products</a></li><li><a href="http://www.viodyne.com/HomePage/JoinOurTeam">Join Our Team</a></li><li><a href="http://www.viodyne.com/HomePage/Contact_form">Contact Us</a></li></ul>
                
          
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>